<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Add Police</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<div class="form-page">

    <div class="form-container">

        <h1>🚔 Add New Police</h1>

        <form method="POST">

            <input type="text"
                   name="username"
                   placeholder="Police Username"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Password"
                   required>

            <button type="submit">

                Create Police Account

            </button>

        </form>

    </div>

</div>

</body>
</html>